body {
    font: 1.167em "Century Gothic", Futura, sans-serif;
    margin: 1.667em;
}

ol, ul {
    padding-left: 2.5em;
}

.name {
    font-size: 3em;
    font-family: Chalkboard, serif;
    margin: 0;
    text-align: center;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 0.833em;
}

.square {
    background: #fff;
    border: 0.083em solid #999;
    color: red;
    float: left;
    font-size: 8.333em;
    font-weight: bold;
    line-height: 34px;
    height: 200px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 200px;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    color: darkblue;
}

.game-info {
    margin-left: 20px;
}